<!DOCTYPE html>
<html>
<head>
  <title>Jumpoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= link_to 'Home',  welcome_index_path %>
  <%= link_to 'Our Work', welcome_work_path %>
  <%= link_to 'What We Do', welcome_capabilities_path %>
  <%= link_to 'About Us', welcome_about_path %>
  <%= link_to 'Get In Touch',  welcome_contact_path %>
  

<%= yield %>
<h1>hhheeeee</h1>
</body>
</html>
